<h1>餐廳後台</h1>

<a href="/admin/restaurants">Restaurants</a><span> | <a href="/admin/users">Users</a></span><span> | <a href="/admin/categories">Categories</a></span>

{{#if category}}
<form style="float: right;" action="/admin/categories/{{category.id}}?_method=PUT" method="POST">
  <div class="form-group d-flex">
    <input type="string" class="form-control" name="name" id="name" placeholder="New Category" style="height: 30px;" value="{{category.name}}"><span class="ml-2"><button type="submit" class="btn btn-secondary" style="height: 30px; padding: 0;">Update</button></span><span class="ml-2"><a href="/admin/categories" class="btn btn-secondary" style="height: 30px; padding: 0; font-size: 18px;">Back</a></span>
  </div>
</form>
{{else}}
<form style="float: right;" action="/admin/categories" method="POST">
  <div class="form-group d-flex">
    <input type="string" class="form-control" name="newCategory" id="newCategory" placeholder="New Category"
      style="height: 30px;"><span class="ml-2"><button type="submit" class="btn btn-secondary"
        style="height: 30px; padding: 0;">Create</button></span>
  </div>
</form>
{{/if}}

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        
        <button type="button" class="btn btn-link">
          <a href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>