{{#if restaurant}}
{{!-- 用表單寫入圖片，需要特地把格式改成 multipart/form-data，才能順利地把圖片一起 POST 進去 --}}
<form action="/admin/restaurants/{{restaurant.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
{{else}}
<form action="/admin/restaurants" method="POST" enctype="multipart/form-data">
{{/if}}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{restaurant.name}}">
  </div>

  <div class="form-group">
    <label for="categoryId">Category</label>
    <select class="form-control" id="categoryId" name="categoryId">
      {{#each categories}}
      <option value="{{this.id}}"
        {{!-- 如果忘記加入 ../，由於在 #each categories 的語境下，會以為你在呼叫this.restaurant，會變成去 categories 迭代到的項目裡尋找一個叫做 restaurant 的屬性，結果會找不到東西 --}}
        {{#ifCond this.id ../restaurant.CategoryId}} selected {{/ifCond}}
        >{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="tel">Tel</label>
    <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter tel" value="{{restaurant.tel}}">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="Enter address"
      value="{{restaurant.address}}">
  </div>

  <div class="form-group">
    <label for="opening_hours">Opening Hours</label>
    <input type="time" class="form-control" name="opening_hours" id="opening_hours" placeholder="Enter opening_hours"
      value="{{restaurant.opening_hours}}">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{restaurant.description}}</textarea>
  </div>

  {{!-- 上傳圖片元件 --}}

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image" >
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>