<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">Top 10 人氣餐廳</a>
  </li>
</ul>
<br /><br />
<h1>人氣餐廳</h1>
<hr />
<div>
  {{#each restaurants}}
  <div class="restaurant d-flex mb-2" style="margin: 4px auto;">
    <div class="rest-img">
      <img src="{{this.image}}" alt="" style="object-fit: cover; width:250px;">
    </div>
    <div class="body p-2">
      <p class="card-text">
        <a href="/restaurants/{{this.id}}">
          {{this.name}}
        </a>
      </p>
      <span class="badge badge-secondary">收藏數: {{this.favoritedCount}}</span>
      <p class="card-text">{{this.description}}</p>
      <div class="feature d-flex">
        <a class="mr-2" href="/restaurants/{{this.id}}"><button class="btn btn-primary">Show</button></a>
        {{#if this.isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit"
            class="btn btn-danger">移除最愛</button></form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-primary">加到最愛</button></form>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>